<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title><%- title %></title>
</head>
<body>
    <nav class="navbar navbar-inverse" >
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/trangchuNV">Trang chủ</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Danh mục
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/xemkhoa">Khoa</a></li>
                <li><a href="/xemnganh">Chuyên ngành</a></li>
                <li><a href="/xemgiangvien">Giảng viên</a></li>
              </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cập nhật
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/cnkhoa">Khoa</a></li>
                    <li><a href="/cnchuyennganh">Chuyên ngành</a></li>
                    <li><a href="/cnsinhvien">Sinh viên</a></li>
                    <li><a href="/cngiangvien">Giảng viên</a></li>
                    <li><a href="/cnmonhp">Môn học phần</a></li>
                    <li><a href="/cnlophp">Lớp học phần</a></li>
                    <li><a href="/cnnamhoc">Năm học</a></li>
                    <li><a href="/cnhocky">Học kỳ</a></li>
                    <li><a href="/cnphonghoc">Phòng học</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Xử lý
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/xepkhung">Xếp chương trình khung</a></li>
                  <li><a href="/chiachuyennganh">Chia chuyên ngành cho sinh viên</a></li>
                  <li><a href="/xeplichhoc">Xếp lịch học</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tìm kiếm
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/timsv">Sinh viên</a></li>
                  <li><a href="/timgv">Giảng viên</a></li>
                  <li><a href="/timmonhp">Môn học phần</a></li>
                </ul>
              </li>
          </ul>
        </div>
      </nav>
    <%-body %>
 
</body>
</html>