
    <a href="/cnsinhvien"><h1>Trở về danh sách</h1></a>
    <form action="/save_sv" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="MSSV">Mã số sinh viên:</label>
            <input type="text" class="form-control" id="masv" placeholder="Mã sinh viên" name="masv" required>
        </div>
        <div class="form-group">
            <label for="hoten_SV">Họ tên sinh viên:</label>
            <input type="text" class="form-control" id="hotensv" placeholder="Họ tên sinh viên" name="hotensv" required>
        </div>
        <div class="form-group">
            <label for="MSSV">Giới tính:</label>
            <select class="form-control" id="select_giotinh" name="gioitinh">
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>
            </select>
        </div>
        <div class="form-group">
            <label for="MSSV">Ngày sinh:</label>
            <input type="date" class="form-control" id="ns_sv" placeholder="Ngày sinh" name="ns_sv" required>
        </div>
        <div class="form-group">
            <label for="diachi_sv">Địa chỉ sinh viên:</label>
            <input type="text" class="form-control" id="diachi_sv" placeholder="Địa chỉ sinh viên" name="diachi_sv" required>
        </div>
        <div class="form-group">
            <label for="dt_sv">Điện thoại sinh viên:</label>
            <input type="text" class="form-control" id="dt_sv" placeholder="Điện thoại" name="dt_sv" required>
        </div>
        <button type="submit" class="btn btn-default">Lưu</button>
    </form>
