
    <div class="container">
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
            <h2>Đổi mật khẩu</h2><br><br>
        </div>
        <form class="form-horizontal" action="/action_page.php">
            <div class="form-group">
                <label class="control-label col-lg-2" for="masv">Mã sinh viên:</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="masv" placeholder="Mã sinh viên">
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="mkc">Mật khẩu cũ:</label>
                <div class="col-lg-8">
                    <input type="password" class="form-control" id="mkc" placeholder="Mật khẩu cũ">
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="mkm">Mật khẩu mới:</label>
                <div class="col-lg-8">
                    <input type="password" class="form-control" id="mkm" placeholder="Mật khẩu mới">
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Cập nhật</button>
                </div>
            </div>
        </form>
    </div>
  