
    <div class="contaner">
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
            <h2>XEM LỊCH HỌC</h2><br><br>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Ngày học</th>
                    <th>Tiết học</th>
                    <th>Môn học</th>
                    <th>Phòng học</th>
                    <th>Nhóm</th>
                    <th>Ngày bắt đầu</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Thứ 2</td>
                    <td>Tiết 4- 6</td>
                    <td>Lập trình phân tán</td>
                    <td>H7</td>
                    <td>2</td>
                    <td>12/11/2021</td>
                </tr>

            </tbody>
        </table>
    </div>
    
