
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
        <h2>XEM CÔNG NỢ</h2><br><br>
    </div>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>Tên môn</th>
            <th>Số Tín chỉ</th>
            <th>Học kì</th>
            <th>Năm Học</th>
            <th>Tiền học</th>
            <th>Tổng tiền</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Lập trình phân tán</td>
            <td>4</td>
            <td>2</td>
            <td>2021-2022</td>
            <td>1.880.000 VNĐ</td>
          </tr>
        </tbody>
    </table>
    
