
    <div class="container">
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" style="border-style: double;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8" style="font-size:18px ;">
                <br>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    Mã số sinh viên: 
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    18097511
                </div>
                <br><br>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    Họ và tên: 
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    Nguyễn Việt Tiến
                </div>
                <br><br>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    Giới tính: 
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    Nam
                </div>
                <br><br>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    Địa chỉ: 
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                   42/3D,ấp Tây Nam, xã Gia Kiệm, Huyện Thống Nhất, Tỉnh Đồng Nai
                </div>
                <br><br>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    Ngày sinh: 
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    12/11/2000
                </div>
                <br><br>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    Số điện thoại: 
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    0342759034
                </div>
                <br><br>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <br>
                <img src="../image/Tien.jpg " class="img-circle" alt="Cinque Terre" width="304" height="236"> 
            </div>
        </div>
    </div>
    
