
    <div class="container">
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
            <h2>XEM CHƯƠNG TRÌNH KHUNG</h2><br><br>
        </div>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Tên chuyên ngành</th>
                <th>Mã môn học phần</th>
                <th>Tên môn học phần</th>
                <th>Học kì</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Kỹ thuật phần mềm</td>
                <td>MHP01</td>
                <td>Lập trình phân tán</td>
                <td>3</td>
              </tr>
              
            </tbody>
          </table>
    </div>
    
