
    <header id="wrap-header">
        <div class="container">
            <div class="row"  >
                <div class="container text-center col-xs-12 col-sm-12 col-md-12 col-lg-12"  >
                    <a href="../html/TrangChu.html">
                        <h1>Đăng ký học phần</h1> 
                    </a>     
                </div>
            </div>
            <div class="row">  
                <h2 class="text-center">Cập nhật chuyên ngành
                </h2>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 2%;">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <label class="label-control col-xs-4 col-sm-4 col-md-4 col-lg-4 ">Mã chuyên ngành</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <label class="label-control col-xs-3 col-sm-3 col-md-3 col-lg-3 ">Tên chuyên ngành</label>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <label class="label-control">Tên khoa</label>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <select class="form-control">
                            <option >Công nghệ thông tin</option>
                            <option >Công nghệ điện</option>
                            <option >Ngoại ngữ</option>
                            <option >Luật</option>
                          </select>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  </div>
                </div>
                <div class="row">
                    <input type="button" value="Xóa trắng" class="btn btn-warning" style="margin-left: 13%;margin-top: 5%;">
                    <input type="button" value="Thêm" class="btn btn-warning" style="margin-left: 13%;margin-top: 5%;">
                    <input type="button" value="Xóa" class="btn btn-warning" style="margin-left: 13%;margin-top: 5%;">
                    <input type="button" value="Cập nhật" class="btn btn-warning" style="margin-left: 13%;margin-top: 5%;">
                </div>
                <div class="row">  
                </div>
                <div class="row">
                <table class="table table-bordered" style="margin-top: 2%;">
                    <thead>
                      <tr>
                        <th>Chọn</th>
                        <th>Tên khoa</th>
                        <th>Mã chuyên ngành</th>
                        <th>Tên chuyên ngành</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><input type="radio"></td>
                        <td>Công nghệ thông tin</td>
                        <td>CNTT</td>
                        <td>Kỹ thuật phần mềm</td>
                      </tr>
                      <tr>
                        <td><input type="radio"></td>
                        <td>Công nghệ thông tin</td>
                        <td>CNTT</td>
                        <td>Khoa học máy tính</td>
                      </tr>
                      <tr>
                        <td><input type="radio"></td>
                        <td>Công nghệ thông tin</td>
                        <td>CNTT</td>
                        <td>Công nghệ thông tin</td>
                      </tr>
                      <tr>
                        <td><input type="radio"></td>
                        <td>Công nghệ thông tin</td>
                        <td>CNTT</td>
                        <td>Hệ thống thông tin</td>
                      </tr>
                      <tr>
                        <td><input type="radio"></td>
                        <td>Công nghệ điện</td>
                        <td>CND</td>
                        <td>Kỹ thuật điện tử</td>
                      </tr>
                      <tr>
                        <td><input type="radio"></td>
                        <td>Ngoại ngữ</td>
                        <td>NNA</td>
                        <td>Ngôn ngữ Anh</td>
                      </tr>
                      <tr>
                        <td><input type="radio"></td>
                        <td>Ngoại ngữ</td>
                        <td>NNA</td>
                        <td>Ngôn ngữ Trung quốc</td>
                      </tr>
                    </tbody>
                  </table>
            </div>  
        </div>
    </header>
