
    <header id="wrap-header">
        <div class="container">
            <div class="row">  
                <h2 class="text-center">Cập nhật lớp học

                </h2>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 2%;">
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <label class="label-control col-xs-3 col-sm-3 col-md-3 col-lg-3 ">Lớp học</label>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input type="button" value="Xóa trắng" class="btn btn-warning" style="margin-left: 13%;margin-top: 5%;">
                    <input type="button" value="Thêm" class="btn btn-warning" style="margin-left: 13%;margin-top: 5%;">
                    <input type="button" value="Xóa" class="btn btn-warning" style="margin-left: 13%;margin-top: 5%;">
                </div>
            </div>
            <div class="row">  
            </div>
            <div class="row">
                <table class="table table-bordered" style="margin-top: 2%;">
                    <thead>
                      <tr>
                        <th>Chọn</th>
                        <th>Lớp học</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><input type="radio"></td>
                        <td>A1.02(LT)</td>
                      </tr>
                      <tr>
                        <td><input type="radio"></td>
                        <td>A1.06(LT)</td>
                      </tr>
                      <tr>
                        <td><input type="radio"></td>
                        <td>H10.02(LT)</td>
                      </tr>
                      <tr>
                        <td><input type="radio"></td>
                        <td>A13.02(TH)</td>
                      </tr>
                      <tr>
                        <td><input type="radio"></td>
                        <td>X8.02(TH)</td>
                      </tr>
                      <tr>
                        <td><input type="radio"></td>
                        <td>A4.02(LT)</td>
                      </tr>
                      <tr>
                        <td><input type="radio"></td>
                        <td>B3.02(LT)</td>
                      </tr>
                      <tr>
                        <td><input type="radio"></td>
                        <td>H10.05(LT)</td>
                      </tr>
                    </tbody>
                  </table>
            </div>  
        </div>
    </header>
