
    <header id="wrap-header">
        <div class="container">
            <div class="row">  
                <h2 class="text-center">Danh mục chuyên ngành

                </h2>
            </div>
            <div class="row">  
            </div>
            <div class="row">
                <table class="table table-bordered" style="margin-top: 2%;">
                    <thead>
                      <tr>
                        <th>Tên khoa</th>
                        <th>Mã chuyên ngành</th>
                        <th>Tên chuyên ngành</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Công nghệ thông tin</td>
                        <td>CNTT</td>
                        <td>Kỹ thuật phần mềm</td>
                      </tr>
                      <tr>
                        <td>Công nghệ thông tin</td>
                        <td>CNTT</td>
                        <td>Khoa học máy tính</td>
                      </tr>
                      <tr>
                        <td>Công nghệ thông tin</td>
                        <td>CNTT</td>
                        <td>Công nghệ thông tin</td>
                      </tr>
                      <tr>
                        <td>Công nghệ thông tin</td>
                        <td>CNTT</td>
                        <td>Hệ thống thông tin</td>
                      </tr>
                      <tr>
                        <td>Công nghệ điện</td>
                        <td>CND</td>
                        <td>Kỹ thuật điện tử</td>
                      </tr>
                      <tr>
                        <td>Ngoại ngữ</td>
                        <td>NNA</td>
                        <td>Ngôn ngữ Anh</td>
                      </tr>
                      <tr>
                        <td>Ngoại ngữ</td>
                        <td>NNA</td>
                        <td>Ngôn ngữ Trung quốc</td>
                      </tr>
                    </tbody>
                  </table>
            </div>  
        </div>
    </header>
