
    <header id="wrap-header">
        <div class="container">
            <div class="row">  
                <h2 class="text-center">Danh mục giảng viên

                </h2>
            </div>
            <div class="row">  
            </div>
            <div class="row">
                <table class="table table-bordered" style="margin-top: 2%;">
                    <thead>
                      <tr>
                        <th>Mã giảng viên</th>
                        <th>Họ tên</th>
                        <th>Giới tính</th>
                        <th>Ngày sinh</th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại</th>
                        <th>Tên khoa</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>GV1</td>
                        <td>Nguyễn Văn A</td>
                        <td>Nam</td>
                        <td>1950-09-06</td>
                        <td>20 Phan Huy, Gò Vấp , tpHCM</td>
                        <td>0988455154</td>
                        <td>CNTT</td>
                      </tr>
                      <tr>
                        <td>GV10</td>
                        <td>Nguyễn Văn Hùng</td>
                        <td>Nam</td>
                        <td>1996-08-15</td>
                        <td>Đồng Nai</td>
                        <td>0912345678</td>
                        <td>CNTT</td>
                      </tr>
                      <tr>
                        <td>GV14</td>
                        <td>Phạm Anh Tuấn</td>
                        <td>Nam</td>
                        <td>1990-08-18</td>
                        <td>Xã Tam Đông, Thành phố Tam Kỳ, Tỉnh Quảng Nam</td>
                        <td>0312345645</td>
                        <td>NN</td>
                      </tr>
                      <tr>
                        <td>GV18</td>
                        <td>Nguyễn Trần Ngọc Tới</td>
                        <td>Nam</td>
                        <td>1985-08-18</td>
                        <td>Khối phố Mỹ Hòa, Thành phố Tam Kỳ</td>
                        <td>0312345614</td>
                        <td>CND</td>
                      </tr>
                      <tr>
                        <td>GV1</td>
                        <td>Đỗ Thị Thu Diệp</td>
                        <td>Nữ</td>
                        <td>1991-08-18</td>
                        <td>Xã Mỹ Hòa, Thành phố Tam Kỳ, Tỉnh Quảng Nam</td>
                        <td>0312345665</td>
                        <td>NN</td>
                      </tr>
                      <tr>
                        <td>GV1</td>
                        <td>Lê Thị Nguyên</td>
                        <td>Nữ</td>
                        <td>1985-08-18</td>
                        <td>Phường Hoà Khê, Quận Thanh Khê, Đà Nẵng </td>
                        <td>0312345616</td>
                        <td>L</td>
                      </tr>
                    </tbody>
                  </table>
            </div>  
        </div>
    </header>
