
    <header id="wrap-header">
        <div class="container">
            
            <div class="row">  
                <h2 class="text-center">Xếp lịch học

                </h2>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 2%;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 1%;">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="label-control col-xs-4 col-sm-4 col-md-4 col-lg-4 ">Học kỳ</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <select class="form-control">
                                    <option >1</option>
                                    <option >2</option>
                                    <option >3</option>
                                </select>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="label-control col-xs-4 col-sm-4 col-md-4 col-lg-4 ">Năm học</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <select class="form-control">
                                <option >2019-2020</option>
                                <option >2020-2021</option>
                                <option >2021-2022</option>
                                <option >2022-2023</option>
                                <option >2023-2024</option>
                            </select>
                        </div>                        
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-top: 2%;">
                        <label class="label-control col-xs-4 col-sm-4 col-md-4 col-lg-4 ">Tên môn</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <select class="form-control">
                                <option >Toán cap cấp 1</option>
                                <option >Toán cap cấp 1</option>
                                <option >Lập trình hướng đối tượng</option>
                                <option >Anh văn 1</option>
                                <option >Kỹ năng làm việc nhóm</option>
                            </select>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <input type="button" value="Lấy mã lớp" class="btn btn-warning">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-top: 2%;">
                        <label class="label-control col-xs-4 col-sm-4 col-md-4 col-lg-4 ">Mã lớp học phần</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <select class="form-control">
                                <option >LHP01</option>
                                <option >LHP02</option>
                                <option >LHP03</option>
                                <option >LHP04</option>
                                <option >LHP05</option>
                            </select>
                        </div>                        
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-top: 2%;">
                        <label class="label-control col-xs-4 col-sm-4 col-md-4 col-lg-4 ">Nhóm</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <select class="form-control">
                                    <option >Lý thuyết</option>
                                    <option >Thực hành</option>
                                </select>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-top: 2%;">
                        <label class="label-control col-xs-4 col-sm-4 col-md-4 col-lg-4 ">Tiết học</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <select class="form-control">
                                <option >1-3</option>
                                <option >4-6</option>
                                <option >7-9</option>
                                <option >10-12</option>
                                <option >13-15</option>
                            </select>
                        </div>                        
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-top: 2%;">
                        <label class="label-control col-xs-4 col-sm-4 col-md-4 col-lg-4 ">Ngày học</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <select class="form-control">
                                    <option >Thứ 2</option>
                                    <option >Thứ 3</option>
                                    <option >Thứ 4</option>
                                    <option >Thứ 5</option>
                                    <option >Thứ 6</option>
                                    <option >Thứ 7</option>
                                    <option >Chủ nhật</option>
                                </select>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-top: 2%;">
                        <label class="label-control col-xs-4 col-sm-4 col-md-4 col-lg-4 ">Phòng học</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <select class="form-control">
                                <option >A1.01(LT)</option>
                                <option >B1.01(LT)</option>
                                <option >V10.01(LT)</option>
                                <option >X8.01(TH)</option>
                                <option >H13.01(TH)</option>
                            </select>
                        </div>                        
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-top: 2%;">
                        <label class="label-control col-xs-4 col-sm-4 col-md-4 col-lg-4 ">Tên giảng viên</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <select class="form-control">
                                <option >Nguyễn Văn A</option>
                                <option >Nguyễn Văn B</option>
                                <option >Nguyễn Văn C</option>
                                <option >Nguyễn Văn D</option>
                                <option >Nguyễn Văn E</option>
                            </select>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <input type="button" value="Lấy mã GV" class="btn btn-warning">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-top: 2%;">
                        <label class="label-control col-xs-4 col-sm-4 col-md-4 col-lg-4 ">Mã lớp học phần</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <select class="form-control">
                                <option >GV01</option>
                                <option >GV02</option>
                                <option >GV03</option>
                                <option >GV04</option>
                                <option >GV05</option>
                            </select>
                        </div>                        
                    </div>
                </div> 
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-top: 2%;">
                        <label class="label-control col-xs-4 col-sm-4 col-md-4 col-lg-4 ">Ngày bắt đầu</label>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-top: 2%;">
                                           
                    </div>
                </div>
                    <div class="row" style="margin-top: 2%;">
                        <input type="button" value="Xóa trắng" class="btn btn-warning" style="margin-top: 2%; margin-left: 5%;">
                        <input type="button" value="Xếp lịch" class="btn btn-warning" style="margin-top: 2%; margin-left: 5%;">
                        <input type="button" value="Xóa lịch" class="btn btn-warning" style="margin-top: 2%; margin-left: 5%;">
                    </div>
                    <div class="row">
                        <table class="table table-bordered" style="margin-top: 2%;">
                            <thead>
                              <tr>
                                <th>Chọn</th>
                                <th>Tên môn học</th>
                                <th>Mã lớp học phần</th>
                                <th>Mã nhóm</th>
                                <th>Tiết học</th>
                                <th>Ngày học</th>
                                <th>Phòng học</th>
                                <th>Tên giảng viên</th>
                                <th>Ngày bắt đầu</th>
                              </tr>
                            </thead>
                            <tbody>
                              
                            </tbody>
                          </table>
                    </div>  
            </div>
            
        </div>
            
        </div>
            
    </header>
